<h1 class="text-center my-3">Alterar o Livro</h1>
<form action="/livros/Alterar" method="post">
  <input type="hidden" name="id_livro" value="{{livro.id_livro}}" />
  <div class="row w-50 d-block m-auto g-3">
    <div class="col-12">
      <img class="img-thumbnail rounded" src="{{livro.link_imagem}}" alt="mostrar imagem" width="150px" >
    </div>
    <div class="col-12">
      <label class="form-label" for="titulo">Titulo do livro:</label>
      <input class="form-control" type="text" name="titulo" id="titulo" value="{{livro.titulo}}" placeholder="Digite o titulo do livro." required />
    </div>
    <div class="col-12">
      <label class="form-label" for="autor">Autor do livro:</label>
      <input class="form-control" type="text" name="autor" id="autor" value="{{livro.autor}}"
        placeholder="Digite o autor do livro." required />
    </div>
    <div class="col-12">
      <label class="form-label" for="preco">Preço do livro:</label>
      <input class="form-control" type="text" name="preco" id="preco" value="{{livro.preco}}" placeholder="Digite o preço do livro." required />
    </div>
    <div class="col-12">
      <label class="form-label" for="link_imagem">Link da imagem do livro:</label>
      <input class="form-control" type="text" name="link_imagem" id="link_imagem" value="{{livro.link_imagem}}" placeholder="Digite o link da imagem do livro." required />
    </div>
    <div class="d-grid gap-2 col-4 me-auto">
      <button class="btn btn-primary my-3" type="submit">Alterar</button>
    </div>
  </div>
</form>